flows.json
[{"id":"d8f1f6d9.f31bf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a8ef737.3f89d8","type":"inject","z":"d8f1f6d9.f31bf8","name":"Open","topic":"sensors/main-door/control","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"x":450,"y":580,"wires":[["bdafe9c5.936ad8"]]},{"id":"bb96d59f.00f918","type":"debug","z":"d8f1f6d9.f31bf8","name":"","active":true,"console":"false","complete":"false","x":788,"y":564,"wires":[]},{"id":"e4c2218b.cf64e","type":"mqtt out","z":"d8f1f6d9.f31bf8","name":"","topic":"","qos":"","retain":"true","broker":"ee465f14.1f549","x":765,"y":671,"wires":[]},{"id":"71aeea5e.82b4c4","type":"inject","z":"d8f1f6d9.f31bf8","name":"closed","topic":"sensors/main-door/control","payload":"Closed","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":460,"y":687,"wires":[["bdafe9c5.936ad8"]]},{"id":"2ea9a178.5b966e","type":"mqtt in","z":"d8f1f6d9.f31bf8","name":"","topic":"sensors/main-door/control","qos":"0","datatype":"auto","broker":"ee465f14.1f549","x":515,"y":465,"wires":[["bdafe9c5.936ad8"]]},{"id":"bdafe9c5.936ad8","type":"function","z":"d8f1f6d9.f31bf8","name":"sensor","func":"//var states=[\"ON\",\"OFF\"];\nvar states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":622,"y":569,"wires":[["e4c2218b.cf64e","bb96d59f.00f918"]]},{"id":"53a24e1d.7d1d7","type":"mqtt in","z":"d8f1f6d9.f31bf8","name":"","topic":"sensors/main-light/control","qos":"0","datatype":"auto","broker":"ee465f14.1f549","x":544,"y":781,"wires":[["7a75c393.e98f6c"]]},{"id":"7a75c393.e98f6c","type":"function","z":"d8f1f6d9.f31bf8","name":"sensor","func":"var states=[\"ON\",\"OFF\"];\n//var states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":651,"y":885,"wires":[["e4c2218b.cf64e","e004ef34.aee8b"]]},{"id":"4f2be2ce.a9cb7c","type":"inject","z":"d8f1f6d9.f31bf8","name":"on","topic":"sensors/main-light/control","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":479,"y":896,"wires":[["7a75c393.e98f6c"]]},{"id":"35684601.37937a","type":"inject","z":"d8f1f6d9.f31bf8","name":"off","topic":"sensors/main-light/control","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"x":489,"y":1003,"wires":[["7a75c393.e98f6c"]]},{"id":"e004ef34.aee8b","type":"debug","z":"d8f1f6d9.f31bf8","name":"","active":true,"console":"false","complete":"false","x":804,"y":792,"wires":[]},{"id":"ee465f14.1f549","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.165","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","closeTopic":"","closePayload":"","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"}]