flows.json
[{"id":"4ebbecce.557204","type":"inject","z":"f7a9a90f.596798","name":"Open","topic":"sensors/main-door/control","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["8f925945.ef8bd8"]]},{"id":"a3f0b328.80bc4","type":"debug","z":"f7a9a90f.596798","name":"","active":true,"console":"false","complete":"false","x":448,"y":204,"wires":[]},{"id":"3572a5b1.3da70a","type":"mqtt out","z":"f7a9a90f.596798","name":"","topic":"","qos":"","retain":"true","broker":"79591279.3f78bc","x":425,"y":311,"wires":[]},{"id":"f096e6cc.38df48","type":"inject","z":"f7a9a90f.596798","name":"closed","topic":"sensors/main-door/control","payload":"Closed","payloadType":"str","repeat":"","crontab":"","once":true,"x":120,"y":327,"wires":[["8f925945.ef8bd8"]]},{"id":"ddbb2630.e053d8","type":"mqtt in","z":"f7a9a90f.596798","name":"","topic":"sensors/main-door/control","qos":"0","datatype":"auto","broker":"79591279.3f78bc","x":175,"y":105,"wires":[["8f925945.ef8bd8","fbb34553.3872d8"]]},{"id":"8f925945.ef8bd8","type":"function","z":"f7a9a90f.596798","name":"sensor","func":"//var states=[\"ON\",\"OFF\"];\nvar states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":282,"y":209,"wires":[["3572a5b1.3da70a","a3f0b328.80bc4"]]},{"id":"fbb34553.3872d8","type":"debug","z":"f7a9a90f.596798","name":"","active":true,"console":"false","complete":"false","x":418,"y":128,"wires":[]},{"id":"3f7d1c97.78f834","type":"mqtt in","z":"f7a9a90f.596798","name":"","topic":"sensors/main-light/control","qos":"0","broker":"79591279.3f78bc","x":204,"y":421,"wires":[["ad419ad3.720158"]]},{"id":"ad419ad3.720158","type":"function","z":"f7a9a90f.596798","name":"sensor","func":"var states=[\"ON\",\"OFF\"];\n//var states=[\"OPEN\",\"CLOSED\"];//door sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":311,"y":525,"wires":[["3572a5b1.3da70a","8b58d1be.dc3a8"]]},{"id":"7d36fbde.973254","type":"inject","z":"f7a9a90f.596798","name":"on","topic":"sensors/main-light/control","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":139,"y":536,"wires":[["ad419ad3.720158"]]},{"id":"295dc9f3.2c23e6","type":"inject","z":"f7a9a90f.596798","name":"off","topic":"sensors/main-light/control","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"x":149,"y":643,"wires":[["ad419ad3.720158"]]},{"id":"8b58d1be.dc3a8","type":"debug","z":"f7a9a90f.596798","name":"","active":true,"console":"false","complete":"false","x":464,"y":432,"wires":[]},{"id":"79591279.3f78bc","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.165","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"sensors/connected/test-client","birthQos":"0","birthRetain":"true","birthPayload":"1","closeTopic":"","closePayload":"","willTopic":"sensors/connected/test-client","willQos":"0","willRetain":"true","willPayload":"0"}]